.btn-group-vertical {
    width:100%;
}

.btn-outline-secondary {
    background-color: white;
    text-align: left;
    padding:10px;
}

.hidden {
    display: none;
}

.capital {
    text-transform: capitalize;
}